[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.2"
requests = "~=2.31"
pydantic = "~=2.4"
djangorestframework = "~=3.14"
djangorestframework-simplejwt = { version = "~=5.3", extras = "crypto" }

[dev-packages]
black = "~=23.7"
grequests = "*"
ipdb = "*"
isort = "~=5.12"
mypy = "~=1.5"
pympler = "~=1.0"
ruff = "~=0.0.291"

[requires]
python_version = "3.11"

[scripts]
app = "python src/manage.py runserver"
